.simple-kmod.mod.cmd
simple-kmod.mod
.simple-kmod.ko.cmd
.simple-kmod.mod.o.cmd
.simple-kmod.o.cmd
.tmp_versions/
Module.symvers
simple-kmod.ko
simple-kmod.mod.c
simple-kmod.mod.o
simple-kmod.o
modules.order
