.simple-kmod.mod.cmd
.simple-kmod.ko.cmd
.simple-kmod.mod.o.cmd
.simple-kmod.o.cmd
simple-kmod.ko
simple-kmod.mod
simple-kmod.mod.c
simple-kmod.mod.o
simple-kmod.o
.simple-procfs-kmod.ko.cmd
.simple-procfs-kmod.mod.cmd
.simple-procfs-kmod.mod.o.cmd
.simple-procfs-kmod.o.cmd
simple-procfs-kmod.ko
simple-procfs-kmod.mod
simple-procfs-kmod.mod.c
simple-procfs-kmod.mod.o
simple-procfs-kmod.o
spkut
Module.symvers
modules.order
.tmp_versions/
